* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: #1e0f0f;
    color: #fff;
}

header {
    width: 100%;
    top: 0;
    position: relative;
    border-bottom: solid #b60303;
    z-index: 1000;
    background: transparent;
    overflow: hidden;
    background-image: linear-gradient(to right bottom, #320101, #57000c, #390209, #490107, #6a010f);

}

.header-container {
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 900;
    font-size: 2rem;
    font-family: "Orbitron", sans-serif;
    color: #ff0000;
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 48px;
}

header nav ul li {
    cursor: pointer;
    position: relative;
    padding: 5px 0;
}

header nav ul li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ff0000;
    transition: width 0.5s ease;
}

header nav ul li:hover::after {
    width: 100%;

}

.btn-car {
    padding: 20px 25px;
    border-radius: 20%;
    background-color: #ff0000;
    box-shadow: 0 0px 30px rgba(254, 0, 0, 0.5);
    border: #fff;

}

.btn-car:hover {
    transform: scale(1.09);
    cursor: pointer;
    background: #610909d1;
    transition: background 0.4s ease, transform 0.4s ease;
}

.btn.ativo {
    background: white;
    color: black;
    border: 2px solid red;
}

.container {
    min-height: 100vh;
    position: relative;
    background-image: linear-gradient(to right bottom, #370202, #57000c, #790010, #9b000d, #f51515);

}

.container::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: radial-gradient(circle, rgb(255, 7, 7) 0%, rgba(64, 5, 5, 0) 70%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(150px);
    z-index: 0;
    animation: pulse 2s infinite alternate;
}



@keyframes pulse {
    0% {
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(0.8);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(2);
    }

}

.list {

    width: 100%;

    padding: 0 15px;

}

.item {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    gap: 5px;
    /*ANIMAÇÃO*/

    transform: translateX(100%);
    transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
}

.active {
    opacity: 1;
    transform: translateX(0);
}

 img {
    max-width: 100%;
    height: auto;
}


.rash-img {
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}




.rash-img img {
    max-width: 100%;
    max-height: 65%;
    filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 1.3));

    /*ANIMAÇÃO*/
    transform: translateX(500px);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
    transition-delay: 0.87s;

}

.active .rash-img img {
    transform: translateX(0);
    opacity: 1;
}

.tag-modelo {
    font-size: 2rem;
    font-weight: 500;

    /*ANIMAÇÃO*/
    transform: translateX(500px);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
    transition-delay: 0.6s;

}

.active .tag-modelo {
    transform: translateX(0);
    opacity: 1;
}


.preço {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 8px;
    /*ANIMAÇÃO*/
    transform: translateX(500px);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
    transition-delay: 0.6s;

}

.active .preço {
    transform: translateX(0);
    opacity: 1;
}


.preço-parcelado {

    /*ANIMAÇÃO*/
    transform: translateX(500px);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
    transition-delay: 0.6s;

}

.active .preço-parcelado {
    transform: translateX(0);
    opacity: 1;
}

.avaliacao {
    display: flex;
    justify-content: space-between;
    gap: 7px;
    font-size: 20px;
    align-items: center;
}

.total-estrelas {
    color: white;
}

.estrelas {
    color: gold;
    font-size: 20px;
}



.tamanhos-disponiveis {
    /*ANIMAÇÃO*/
    transform: translateX(500px);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
    transition-delay: 0.6s;

}

.active .tamanhos-disponiveis {
    transform: translateX(0);
    opacity: 1;
}




.content {
    margin-top: 100px;
    width: 55%;
    padding-right: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 2;
    flex-direction: column;
}

.direção-botões {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.btn {
    cursor: pointer;
    transition: background 0.4s ease, transform 0.4s ease;
}

.btn:hover {
    transform: scale(1.09);
}

.btn {
    padding: 20px;
    border-radius: 20%;
    background-color: #ff0000;
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.5);
    border: none;
    font-size: 17px;
    font-weight: 550;
    cursor: pointer;
    transition: background 0.4s ease, transform 0.4s ease;
    /*ANIMAÇÃO*/
    transform: translateX(500px);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
    transition-delay: 0.6s;

}

.active .btn {
    transform: translateX(0);
    opacity: 1;
}

.btn:hover {
    transform: scale(1.09);
    background: #610909d1;
}

.direção-botões .btn-medidor {
    padding: 14px 20px;
    background: linear-gradient(90deg, #810c0c, #ff0000);
    border-radius: 30px;
    background-color: #ff0000;
    box-shadow: 0 0px 30px rgba(255, 0, 0, 0.5);
    border: #000;
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    margin-left: 25px;
    /*ANIMAÇÃO*/
    transform: translateX(500px);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
    transition-delay: 0.6s;

}

.active .direção-botões .btn-medidor {
    transform: translateX(0);
    opacity: 1;
}

.btn-medidor:hover {
    transform: scale(1.09);
    cursor: pointer;
    background: #fe0000a1;
    transition: 0.4s;
    color: #370202;
}

.product-tag {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #ff0000;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 10px;

    /*ANIMAÇÃO*/
    transform: translateX(500px);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
    transition-delay: 0.6s;

}

.active .product-tag {
    transform: translateX(0);
    opacity: 1;
}

.product-name {
    font-size: 3.5rem;
    font-family: 'orbitron', sans-serif;
    line-height: 1.1;
    margin-bottom: 20px;
    /*ANIMAÇÃO*/
    transform: translateX(500px);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
    transition-delay: 0.6s;

}

.active .product-name {
    transform: translateX(0);
    opacity: 1;
}

.description {
    font-size: 1.1rem;
    color: #ffffff;
    line-height: 1.6;
    margin-bottom: 17px;
    max-width: 600px;

    /*ANIMAÇÃO*/
    transform: translateX(500px);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
    transition-delay: 0.6s;

}

.active .description {
    transform: translateX(0);
    opacity: 1;
}

.btn-buy {
    padding: 15px 10px;
    border-radius: 30px;
    border: none;
    background: white;
    color: black;
    font-size: 1rem;
    font-weight: 800;
    cursor: pointer;
    margin-top: 20px;
    /*ANIMAÇÃO*/
    transform: translateX(500px);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
    transition-delay: 0.6s;

}

.active .btn-buy {
    transform: translateX(0);
    opacity: 1;
}

.btn-buy:hover {
    transform: scale(1.09);
    cursor: pointer;
    background: #610909d1;
    transition: background 0.4s ease, transform 0.4s ease;
}

.arrows {
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    align-items: center;

}

.arrows-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid rgb(255, 7, 7);
    background-color: rgba(255, 255, 255, 0.1);
}

.arrows-btn:hover {

    cursor: pointer;
    background: #610909d1;
    transition: background 0s ease, transform 0.4s ease;
}

.indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  z-index: 10;
}

.number {
    font-family: "orbitron", sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 14px;

}

.dots {
    display: flex;
    gap: 10px;
}

.dot {
    width: 40px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.151);
    border-radius: 2px;

}

.dot.active {
    background-color: #ff0000;
    box-shadow: 0 0 10px rgba(177, 0, 0, 0.686);
}

.tech-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fire {
    position: absolute;
}

.fire:nth-child(1) {
    width: 200px;
    height: 150px;
    top: 20%;
    left: 8%;

}

.fire:nth-child(2) {
    width: 200px;
    height: 100px;
    top: 13%;
    left: 70%;

}

.fire:nth-child(3) {
    width: 200px;
    height: 100px;
    top: 80%;
    left: 76%;

}

@media  (max-width: 500px) {

    .btn-car{
        display: none;
    }

    .header-container {
        padding: 20px;
        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        display: none;
    }

    
     .list {
        display: flex;
        flex-direction: column;
        gap: 80px;
    }

    .item {
        position: relative; /* 🔥 ESSENCIAL */
        inset: unset;       /* 🔥 REMOVE SOBREPOSIÇÃO */
        
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        opacity: 1 !important;
        transform: none !important;
    }
    .rash-img{
        width: 100%;
        height: auto;
    }

    .rash-img img{
        max-width: 280px;
        height: auto;

        transform: none;
        opacity: 1;
    }

    .content{
        width: 100%;
        padding: 0 20px;
        margin-top: 0;
        align-items: center;
    }

    .product-name{
        font-size: 1.6rem;
    }

    .tag-modelo{
        font-size: 1.2rem;
    }
    .preço{
        font-size: 1.8rem;
    }

    .description{
        font-size: 0.95rem;
    }

    .direção-botões{
        flex-wrap: wrap;
        justify-content: center;
    }

    .btn{
        flex: 1;
        min-width: 60px;
        padding: 10px;
        

    }

     .btn-buy {
        width: 100%;
    }

   

    .arrows,
    .indicators {
        display: none;
    }



    .container::before{
        display: none;
    }
    .active * {
    transform: none !important;
    opacity: 1 !important;
}


}

@media (max-width: 768px) {

    .list {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .item {
        position: relative;
        inset: auto;

        opacity: 1 !important;
        transform: none !important;
    }

}